/Data
/DigitalCompanion
/GUI
/Icons
/music
/Shaders
/Sounds
/XmlSchemas

/Modules/CustomBattle/ModuleData

/Modules/DedicatedCustomServerHelper/GUI
/Modules/DedicatedCustomServerHelper/ModuleData

/Modules/Native
!/Modules/Native/bin

/Modules/SandBox
!/Modules/SandBox/bin

/Modules/SandBoxCore
!/Modules/SandBoxCore/bin

/Modules/StoryMode
!/Modules/StoryMode/bin