/bin/Win64_Shipping_Client/BattlEye
/bin/Win64_Shipping_Client/Microsoft.AspNetCore.All
/bin/Win64_Shipping_Client/Microsoft.AspNetCore.App
/bin/Win64_Shipping_Client/Microsoft.NETCore.App
/bin/Win64_Shipping_Client/mono
/Data
/DigitalCompanion
/GUI
/Icons
/music
/Shaders
/Sounds
/XmlSchemas

/Modules/CustomBattle/ModuleData

/Modules/DedicatedCustomServerHelper/GUI
/Modules/DedicatedCustomServerHelper/ModuleData

/Modules/Native
!/Modules/Native/bin

/Modules/SandBox
!/Modules/SandBox/bin

/Modules/SandBoxCore
!/Modules/SandBoxCore/bin

/Modules/StoryMode
!/Modules/StoryMode/bin